# User-specific stuff
.idea/

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser
.idea/workspace.xml

# Python Venv
venv

# Driers
/driver/*

# Pycache 
fbm/__pycache__/*